
__pycache__
venv
ui/mainwindow.ui
ui/second_window.cpp
ui/second_window.h
ui/second_window.py
ui/second_window.ui
ui/ui.pro
ui/ui.pro.user
ui/mainwindow.h
ui/mainwindow.cpp
ui/.DS_Store
ui/main.cpp
build.py
Database.db
generel.py
geckodriver.log
lager/test.py
lager/geckodriver_macos
.idea
.DS_Store
bestellungen/benötigtes material vom 19.03.2020.pdf

lager/geckodriver_linux64

ui/mainwindow.ui.autosave

ui/ui.pro.user.666deae.22
bestellungen/benötigtes material vom 19.03.2020.pdf
