
__pycache__
venv
ui/mainwindow.ui
ui/second_window.cpp
ui/second_window.h
ui/second_window.py
ui/second_window.ui
ui/ui.pro
ui/ui.pro.user
ui/mainwindow.h
ui/mainwindow.cpp
ui/.DS_Store
ui/main.cpp
build.py

generel.py
geckodriver.log
stock/test.py
stock/geckodriver_macos
.idea
.DS_Store
bestellungen/benötigtes material vom 19.03.2020.pdf

stock/geckodriver_linux64

ui/mainwindow.ui.autosave

ui/ui.pro.user.666deae.22
bestellungen/benötigtes material vom 19.03.2020.pdf

ui/ui.pro.user.67515d6
.vscode/launch.json
ui/ui.pro.user.67515d6.4.9-pre1
overview/grid_fahrzeuge.py
admin/data_einstellungen.py
bestellungen/benoetigtes material vom 23.05.2020.pdf
bestellungen/benötigtes material vom 23.05.2020.pdf
software_test.py
RDV.ico
RDV.psd
bestellungen/benoetigtes material vom 25.05.2020.pdf
bestellungen/benoetigtes material vom 25.05.2020.pdf
stock/test.py
ui/test.py
stock/geckodriver_macos
stock/geckodriver_linux64
lager/geckodriver_linux64
lager/geckodriver_macos
update/Database.db
update/download/test.py
update/test.db
update/test/test.py
ui/ui/test.py
ui/ui/ui.pro
ui/ui/ui.pro.user
ui/ui/ui.pro.user.666deae.22
ui/ui/ui.pro.user.67515d6
ui/ui/ui.pro.user.67515d6.4.9-pre1
update/update/version.txt
update/update/version.py
